body {
    font-size: 17px;
    line-height: 1.6;
    background-color: #000000;
    color: #ffffff;
}

a{
    line-height: 1.5;
    font-weight: bold;
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
}

header {
    background-color:  #CDAA5B;
    padding: 1px 0;
    font-size: 17px;
    margin: 7px 1px 5px 1px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li{
    align-content: center;
}

.home {
    display: flex;
    align-items: center;
}


.logo2 {
    width: 40%;
    margin: 24px 4px 96px 114px;
    transform: scale(0); 
    animation: Animation 2s forwards; 
}

@keyframes Animation {
    0% {
        transform: scale(0); 
    }
    100% {
        transform: scale(1); 
    }
}




