body {
    font-size: 17px;
    line-height: 1.6;
    background-color: #000000;
    color: #ffffff;
}

a{
    line-height: 1.5;
    font-weight: bold;
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
}

header {
    background-color:  #CDAA5B;
    padding: 1px 0;
    font-size: 17px;
    margin: 7px 1px 5px 1px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li{
    align-content: center;
}

.home {
    display: flex;
    align-items: center;
}

.logo {
    border-radius: 50%;
    width: 144px;
    margin: 1px 201px 1px 5px;
}

.logo2 {
    width: 40%;
    margin: 24px 4px 96px 114px;
}

.perfil {
    max-width: 251px;
    height: auto;
    border-radius: 50%;
    width: 100%;
    margin: 23px;
}

.caixa {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    margin: 7px 1px 5px 1px;
}

/* Contato */
.contato{
    text-align-last: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 9px 73px 25px 73px;
    margin: 40px;
    box-shadow: 15px 7px 10px 12px rgb(143 121 41 / 22%);
    opacity: 66%;
}

form {
    padding: 20px;
    margin-top: 20px;
}

form div {
    margin-bottom: 15px;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

button {
    background-color: #CDAA5B;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b18f4a;
}


/* Responsividade */
@media (max-width: 768px) {
    .logo {
        width: 92%; 
    }

    .logo2 {
        width: 34%; 
        margin: 0 auto; 
    }

    .caixa {
        padding: 15px; 
    }

    .contato {
        padding: 15px; 
        margin: 20px; 
    }
}

@media (max-width: 480px) {
    body {
        font-size: 20px; 
    }

    img{
        width: 100%;
    }
    .perfil{
        width: 55%;
    }
    header, footer {
        font-size: 21px; 
    }

    nav ul {
        flex-direction: column; 
    }

    a {
        margin: 5px 0; 
    }
}
